#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 300px;
    background-color: #222;
    color: #e6e6e6;
  }
  
  .mode {
    position: fixed;
    right: 10px;
    top: 10px;
  }
